/* .l-d-r-u {
  -webkit-transform: skewY(-1deg);
  -moz-transform: skewY(-1deg);
  -ms-transform: skewY(-1deg);
  -o-transform: skewY(-1deg);
  transform: skewY(-1deg);
}
.l-u-r-d {
  -webkit-transform: skewY(1deg);
  -moz-transform: skewY(1deg);
  -ms-transform: skewY(1deg);
  -o-transform: skewY(1deg);
  transform: skewY(1deg);
} */
.slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.right-to-left {
  display: flex;
  width: calc(200px * 20);
  animation: scrollr-t-l 40s linear infinite;
}
.left-to-right {
  display: flex;
  width: calc(200px * 18);
  animation: scrolll-t-r 40s linear infinite;
}

.slide_track:hover {
  animation-play-state: paused;
}

@keyframes scrollr-t-l {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 10));
  }
}
@keyframes scrolll-t-r {
  0% {
    transform: translateX(calc(-200px * 9));
  }
  100% {
    transform: translateX(0);
  }
}

.slide {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  box-shadow: 0px 8px 17px -15px #111;
  margin: 1rem;
  color: inherit;
  text-decoration: none;
}
.slide > img {
  width: 100%;
  transition: transform 1s;
}

.slide:hover img {
  transform: translateZ(10px);
}
