:root {
  --winter-w1: #eceef1;
  --winter-w2: #081b24;
  --winter-w3: #8a9c9b;
  --winter-w4: #acc4d4;
  --winter-w5: #d3e4e3;
  --winter-link: #7ad9fe;
  --winter-hover: rgba(7, 7, 7, 0.2);
  --logo-l1: #f7931e;
  --logo-l2: #0094ff;
  --logo-l3: #8dc500;
}

.team-header {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background: var(--winter-w2);
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw)); */
  /* padding: 0 0 11%; */
  min-height: 450px;
}

// Responsive

@media only screen and (max-width: 1100px) {
  .t-header-box {
    padding: 0 0 70px;
  }
}

@media only screen and (max-width: 748px) {
  .t-header {
    justify-content: center;
    max-width: 630px;
  }
  .t-header-content {
    width: 100%;
  }
  .t-header-vector {
    display: none;
  }
}

@media only screen and (max-width: 535px) {
  .t-header-box {
    padding-bottom: 20px;
  }
  .t-header {
    transform: scale(0.9);
    padding-top: 20px;
  }
}
